---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout title={`Datenschutzerklärung | ${SITE.title}`}>
  <Header />
  <main id="main-content">
    <h1>Datenschutzerklärung</h1>

    <p>
      Wir haben diese Datenschutzerklärung (Fassung 11.02.2020-211115782)
      verfasst, um Ihnen gemäß der Vorgaben der Datenschutz-Grundverordnung (EU)
      2016/679 zu erklären, welche Informationen wir sammeln, wie wir Daten
      verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser
      Webseite haben.
    </p>
    <p>
      Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr
      technisch klingen, wir haben uns bei der Erstellung jedoch bemüht die
      wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.
    </p>

    <h2>Automatische Datenspeicherung</h2>
    <p>
      Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen
      automatisch erstellt und gespeichert, so auch auf dieser Webseite.
    </p>
    <p>
      Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser
      Webserver (Computer auf dem diese Webseite gespeichert ist) automatisch
      Daten wie
    </p>
    <ul>
      <li>die Adresse (URL) der aufgerufenen Webseite</li>
      <li>Browser und Browserversion</li>
      <li>das verwendete Betriebssystem</li>
      <li>die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</li>
      <li>den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</li>
      <li>Datum und Uhrzeit</li>
    </ul>
    <p>
      in Dateien (Webserver-Logfiles).
    </p>
    <p>
      In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach
      automatisch gelöscht. Wir geben diese Daten nicht weiter, können jedoch
      nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem
      Verhalten eingesehen werden.
    </p>

    <h2>Cookies</h2>
    <p>
      Unsere Webseite verwendet HTTP-Cookies, um nutzerspezifische Daten zu
      speichern. Im Folgenden erklären wir, was Cookies sind und warum Sie
      genutzt werden, damit Sie die folgende Datenschutzerklärung besser
      verstehen.
    </p>

    <h3>Was genau sind Cookies?</h3>
    <p>
      Immer wenn Sie durch das Internet surfen, verwenden Sie einen Browser.
      Bekannte Browser sind beispielsweise Chrome, Safari, Firefox, Internet
      Explorer und Microsoft Edge. Die meisten Webseiten speichern kleine
      Text-Dateien in Ihrem Browser. Diese Dateien nennt man Cookies.
    </p>
    <p>
      Eines ist nicht von der Hand zu weisen: Cookies sind echt nützliche
      Helferlein. Fast alle Webseiten verwenden Cookies. Genauer gesprochen sind
      es HTTP-Cookies, da es auch noch andere Cookies für andere
      Anwendungsbereiche gibt. HTTP-Cookies sind kleine Dateien, die von unserer
      Webseite auf Ihrem Computer gespeichert werden. Diese Cookie-Dateien werden
      automatisch im Cookie-Ordner, quasi dem „Hirn" Ihres Browsers,
      untergebracht. Ein Cookie besteht aus einem Namen und einem Wert. Bei der
      Definition eines Cookies müssen zusätzlich ein oder mehrere Attribute
      angegeben werden.
    </p>
    <p>
      Cookies speichern gewisse Nutzerdaten von Ihnen, wie beispielsweise Sprache
      oder persönliche Seiteneinstellungen. Wenn Sie unsere Seite wieder
      aufrufen, übermittelt Ihr Browser die „userbezogenen" Informationen an
      unsere Seite zurück. Dank der Cookies weiß unsere Webseite, wer Sie sind
      und bietet Ihnen die Einstellung, die Sie gewohnt sind. In einigen Browsern
      hat jedes Cookie eine eigene Datei, in anderen wie beispielsweise Firefox
      sind alle Cookies in einer einzigen Datei gespeichert.
    </p>
    <p>
      Es gibt sowohl Erstanbieter Cookies als auch Drittanbieter-Cookies.
      Erstanbieter-Cookies werden direkt von unserer Seite erstellt,
      Drittanbieter-Cookies werden von Partner-Webseiten (z.B. Google Analytics)
      erstellt. Jedes Cookie ist individuell zu bewerten, da jedes Cookie andere
      Daten speichert. Auch die Ablaufzeit eines Cookies variiert von ein paar
      Minuten bis hin zu ein paar Jahren. Cookies sind keine Software-Programme
      und enthalten keine Viren, Trojaner oder andere „Schädlinge". Cookies
      können auch nicht auf Informationen Ihres PCs zugreifen.
    </p>
    <p>So können zum Beispiel Cookie-Daten aussehen:</p>
    <p>
      <strong>Name:</strong> _ga<br />
      <strong>Wert:</strong> GA1.2.1326744211.152211115782-6<br />
      <strong>Verwendungszweck:</strong> Unterscheidung der Webseitenbesucher<br />
      <strong>Ablaufdatum:</strong> nach 2 Jahren
    </p>
    <p>Diese Mindestgrößen sollte ein Browser unterstützen können:</p>
    <ul>
      <li>Mindestens 4096 Bytes pro Cookie</li>
      <li>Mindestens 50 Cookies pro Domain</li>
      <li>Mindestens 3000 Cookies insgesamt</li>
    </ul>

    <h3>Welche Arten von Cookies gibt es?</h3>
    <p>
      Die Frage welche Cookies wir im Speziellen verwenden, hängt von den
      verwendeten Diensten ab und wird in den folgenden Abschnitten der
      Datenschutzerklärung geklärt. An dieser Stelle möchten wir kurz auf die
      verschiedenen Arten von HTTP-Cookies eingehen.
    </p>
    <p>Man kann 4 Arten von Cookies unterscheiden:</p>
    <p>
      <strong>Unerlässliche Cookies</strong><br />
      Diese Cookies sind nötig, um grundlegende Funktionen der Webseite
      sicherzustellen. Zum Beispiel braucht es diese Cookies, wenn ein User ein
      Produkt in den Warenkorb legt, dann auf anderen Seiten weitersurft und
      später erst zur Kasse geht. Durch diese Cookies wird der Warenkorb nicht
      gelöscht, selbst wenn der User sein Browserfenster schließt.
    </p>
    <p>
      <strong>Zweckmäßige Cookies</strong><br />
      Diese Cookies sammeln Infos über das Userverhalten und ob der User etwaige
      Fehlermeldungen bekommt. Zudem werden mithilfe dieser Cookies auch die
      Ladezeit und das Verhalten der Webseite bei verschiedenen Browsern gemessen.
    </p>
    <p>
      <strong>Zielorientierte Cookies</strong><br />
      Diese Cookies sorgen für eine bessere Nutzerfreundlichkeit.
      Beispielsweise werden eingegebene Standorte, Schriftgrößen oder
      Formulardaten gespeichert.
    </p>
    <p>
      <strong>Werbe-Cookies</strong><br />
      Diese Cookies werden auch Targeting-Cookies genannt. Sie dienen dazu dem
      User individuell angepasste Werbung zu liefern. Das kann sehr praktisch,
      aber auch sehr nervig sein.
    </p>
    <p>
      Üblicherweise werden Sie beim erstmaligen Besuch einer Webseite gefragt,
      welche dieser Cookiearten Sie zulassen möchten. Und natürlich wird diese
      Entscheidung auch in einem Cookie gespeichert.
    </p>

    <h3>Wie kann ich Cookies löschen?</h3>
    <p>
      Wie und ob Sie Cookies verwenden wollen, entscheiden Sie selbst. Unabhängig
      von welchem Service oder welcher Webseite die Cookies stammen, haben Sie
      immer die Möglichkeit Cookies zu löschen, zu deaktivieren oder nur
      teilweise zuzulassen. Zum Beispiel können Sie Cookies von Drittanbietern
      blockieren, aber alle anderen Cookies zulassen.
    </p>
    <p>
      Wenn Sie feststellen möchten, welche Cookies in Ihrem Browser gespeichert
      wurden, wenn Sie Cookie-Einstellungen ändern oder löschen wollen, können
      Sie dies in Ihren Browser-Einstellungen finden:
    </p>
    <ul>
      <li>
        <a
          href="https://support.google.com/chrome/answer/95647?tid=211115782"
          target="_blank"
          rel="noopener noreferrer"
          >Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a
        >
      </li>
      <li>
        <a
          href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=211115782"
          target="_blank"
          rel="noopener noreferrer"
          >Safari: Verwalten von Cookies und Websitedaten mit Safari</a
        >
      </li>
      <li>
        <a
          href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=211115782"
          target="_blank"
          rel="noopener noreferrer"
          >Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf
          Ihrem Computer abgelegt haben</a
        >
      </li>
      <li>
        <a
          href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=211115782"
          target="_blank"
          rel="noopener noreferrer"
          >Internet Explorer: Löschen und Verwalten von Cookies</a
        >
      </li>
      <li>
        <a
          href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=211115782"
          target="_blank"
          rel="noopener noreferrer"
          >Microsoft Edge: Löschen und Verwalten von Cookies</a
        >
      </li>
    </ul>
    <p>
      Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren
      Browser so einrichten, dass er Sie immer informiert, wenn ein Cookie
      gesetzt werden soll. So können Sie bei jedem einzelnen Cookie entscheiden,
      ob Sie das Cookie erlauben oder nicht. Die Vorgangsweise ist je nach
      Browser verschieden. Am besten Sie suchen die Anleitung in Google mit dem
      Suchbegriff "Cookies löschen Chrome" oder „Cookies deaktivieren Chrome" im
      Falle eines Chrome Browsers.
    </p>

    <h3>Wie sieht es mit meinem Datenschutz aus?</h3>
    <p>
      Seit 2009 gibt es die sogenannten „Cookie-Richtlinien". Darin ist
      festgehalten, dass das Speichern von Cookies eine Einwilligung des von
      Ihnen verlangt. Innerhalb der EU-Länder gibt es allerdings noch sehr
      unterschiedliche Reaktionen auf diese Richtlinien. In Österreich erfolgte
      aber die Umsetzung dieser Richtlinie in § 96 Abs. 3 des
      Telekommunikationsgesetzes (TKG).
    </p>
    <p>
      Wenn Sie mehr über Cookies wissen möchten und vor technischen
      Dokumentationen nicht zurückscheuen, empfehlen wir
      <a
        href="https://tools.ietf.org/html/rfc6265"
        target="_blank"
        rel="noopener noreferrer">https://tools.ietf.org/html/rfc6265</a
      >, dem Request for Comments der Internet Engineering Task Force (IETF)
      namens „HTTP State Management Mechanism".
    </p>

    <h2>Speicherung persönlicher Daten</h2>
    <p>
      Persönliche Daten, die Sie uns auf dieser Website elektronisch
      übermitteln, wie zum Beispiel Name, E-Mail-Adresse, Adresse oder andere
      persönlichen Angaben im Rahmen der Übermittlung eines Formulars oder
      Kommentaren im Blog, werden von uns gemeinsam mit dem Zeitpunkt und der
      IP-Adresse nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt
      und nicht an Dritte weitergegeben.
    </p>
    <p>
      Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit
      jenen Besuchern, die Kontakt ausdrücklich wünschen und für die Abwicklung
      der auf dieser Webseite angebotenen Dienstleistungen und Produkte. Wir
      geben Ihre persönlichen Daten ohne Zustimmung nicht weiter, können jedoch
      nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem
      Verhalten eingesehen werden.
    </p>
    <p>
      Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser
      Webseite – können wir keine sichere Übertragung und den Schutz Ihrer Daten
      garantieren. Wir empfehlen Ihnen, vertrauliche Daten niemals
      unverschlüsselt per E-Mail zu übermitteln.
    </p>

    <h2>Rechte laut Datenschutzgrundverordnung</h2>
    <p>
      Ihnen stehen laut den Bestimmungen der DSGVO und des österreichischen
      Datenschutzgesetzes (DSG) grundsätzlich die folgende Rechte zu:
    </p>
    <ul>
      <li>Recht auf Berichtigung (Artikel 16 DSGVO)</li>
      <li>
        Recht auf Löschung („Recht auf Vergessenwerden") (Artikel 17 DSGVO)
      </li>
      <li>
        Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)
      </li>
      <li>
        Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der
        Berichtigung oder Löschung personenbezogener Daten oder der
        Einschränkung der Verarbeitung (Artikel 19 DSGVO)
      </li>
      <li>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
      <li>Widerspruchsrecht (Artikel 21 DSGVO)</li>
      <li>
        Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung
        — einschließlich Profiling — beruhenden Entscheidung unterworfen zu
        werden (Artikel 22 DSGVO)
      </li>
    </ul>
    <p>
      Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das
      Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst
      in einer Weise verletzt worden sind, können Sie sich bei der
      Aufsichtsbehörde beschweren, welche in Österreich die Datenschutzbehörde
      ist, deren Webseite Sie unter
      <a
        href="https://www.dsb.gv.at/?tid=211115782"
        target="_blank"
        rel="noopener noreferrer">https://www.dsb.gv.at/</a
      > finden.
    </p>

    <h2>Auswertung des Besucherverhaltens</h2>
    <p>
      In der folgenden Datenschutzerklärung informieren wir Sie darüber, ob und
      wie wir Daten Ihres Besuchs dieser Website auswerten. Die Auswertung der
      gesammelten Daten erfolgt in der Regel anonym und wir können von Ihrem
      Verhalten auf dieser Website nicht auf Ihre Person schließen.
    </p>
    <p>
      Mehr über Möglichkeiten dieser Auswertung der Besuchsdaten zu widersprechen
      erfahren Sie in der folgenden Datenschutzerklärung.
    </p>

    <h2>TLS-Verschlüsselung mit https</h2>
    <p>
      Wir verwenden https um Daten abhörsicher im Internet zu übertragen
      (Datenschutz durch Technikgestaltung Artikel 25 Absatz 1 DSGVO). Durch den
      Einsatz von TLS (Transport Layer Security), einem
      Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet können
      wir den Schutz vertraulicher Daten sicherstellen. Sie erkennen die
      Benutzung dieser Absicherung der Datenübertragung am kleinen Schlosssymbol
      links oben im Browser und der Verwendung des Schemas https (anstatt http)
      als Teil unserer Internetadresse.
    </p>

    <h2>Google Fonts Datenschutzerklärung</h2>
    <p>
      Auf unserer Webseite verwenden wir Google Fonts. Das sind die
      „Google-Schriften" der Firma Google Inc. (1600 Amphitheatre Parkway
      Mountain View, CA 94043, USA).
    </p>
    <p>
      Für die Verwendung von Google-Schriftarten müssen Sie sich nicht anmelden
      bzw. ein Passwort hinterlegen. Weiters werden auch keine Cookies in Ihrem
      Browser gespeichert. Die Dateien (CSS, Schriftarten/Fonts) werden über die
      Google-Domains fonts.googleapis.com und fonts.gstatic.com angefordert.
      Laut Google sind die Anfragen nach CSS und Schriften vollkommen getrennt
      von allen anderen Google-Diensten. Wenn Sie ein Google-Konto haben,
      brauchen Sie keine Sorge haben, dass Ihre Google-Kontodaten, während der
      Verwendung von Google Fonts, an Google übermittelt werden. Google erfasst
      die Nutzung von CSS (Cascading Style Sheets) und der verwendeten
      Schriftarten und speichert diese Daten sicher.
    </p>

    <h3>Was sind Google Fonts?</h3>
    <p>
      Google Fonts (früher Google Web Fonts) ist ein Verzeichnis mit über 800
      Schriftarten, die die Google LLC Ihren Nutzern kostenlos zu Verfügung
      stellen.
    </p>
    <p>
      Viele dieser Schriftarten sind unter der SIL Open Font License
      veröffentlicht, während andere unter der Apache-Lizenz veröffentlicht
      wurden. Beides sind freie Software-Lizenzen.
    </p>

    <h3>Warum verwenden wir Google Fonts auf unserer Webseite?</h3>
    <p>
      Mit Google Fonts können wir auf der eigenen Webseite Schriften nutzen, und
      müssen sie nicht auf unserem eigenen Server hochladen. Google Fonts ist ein
      wichtiger Baustein, um die Qualität unserer Webseite hoch zu halten. Alle
      Google-Schriften sind automatisch für das Web optimiert und dies spart
      Datenvolumen und ist speziell für die Verwendung bei mobilen Endgeräten ein
      großer Vorteil.
    </p>

    <h3>Welche Daten werden von Google gespeichert?</h3>
    <p>
      Wenn Sie unsere Webseite besuchen, werden die Schriften über einen
      Google-Server nachgeladen. Durch diesen externen Aufruf werden Daten an die
      Google-Server übermittelt. So erkennt Google auch, dass Sie bzw. Ihre
      IP-Adresse unsere Webseite besucht.
    </p>
    <p>
      Google Fonts speichert CSS- und Schrift-Anfragen sicher bei Google und ist
      somit geschützt. Zu bedenken gilt allerdings noch, dass durch jede Google
      Font Anfrage auch Informationen wie Spracheinstellungen, IP-Adresse,
      Version des Browsers, Bildschirmauflösung des Browsers und Name des
      Browsers automatisch an die Google-Server übertragen werden.
    </p>

    <h3>Wie lange und wo werden die Daten gespeichert?</h3>
    <p>
      Anfragen für CSS-Assets speichert Google einen Tag lang auf Ihren Servern,
      die hauptsächlich außerhalb der EU angesiedelt sind. Die Font-Dateien
      werden bei Google ein Jahr gespeichert. Google verfolgt damit das Ziel, die
      Ladezeit von Webseiten grundsätzlich zu verbessern.
    </p>

    <h3>Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
    <p>
      Jene Daten, die Google für einen Tag bzw. ein Jahr speichert können nicht
      einfach gelöscht werden. Die Daten werden beim Seitenaufruf automatisch an
      Google übermittelt. Um diese Daten vorzeitig löschen zu können, müssen Sie
      den Google-Support auf
      <a
        href="https://support.google.com/?hl=de&tid=211115782"
        target="_blank"
        rel="noopener noreferrer">https://support.google.com/</a
      > kontaktieren. Datenspeicherung verhindern Sie in diesem Fall nur, wenn
      Sie unsere Seite nicht besuchen.
    </p>
    <p>
      Welche Daten grundsätzlich von Google erfasst werden und wofür diese Daten
      verwendet werden, können Sie auch auf
      <a
        href="https://policies.google.com/privacy?hl=de&tid=211115782"
        target="_blank"
        rel="noopener noreferrer">https://www.google.com/intl/de/policies/privacy/</a
      > nachlesen.
    </p>

    <h2>Newsletter Datenschutzerklärung</h2>
    <p>
      Wenn Sie sich für unseren Newsletter eintragen übermitteln Sie die oben
      genannten persönlichen Daten und geben uns das Recht Sie per E-Mail zu
      kontaktieren. Die im Rahmen der Anmeldung zum Newsletter gespeicherten
      Daten nutzen wir ausschließlich für unseren Newsletter und geben diese
      nicht weiter.
    </p>
    <p>
      Sollten Sie sich vom Newsletter abmelden – Sie finden den Link dafür in
      jedem Newsletter ganz unten – dann löschen wir alle Daten die mit der
      Anmeldung zum Newsletter gespeichert wurden.
    </p>

    <h2>MailChimp Datenschutzerklärung</h2>
    <p>
      Wie viele andere Webseiten verwenden auch wir auf unsere Website die
      Dienste des Newsletter-Unternehmens MailChimp. Der Betreiber von MailChimp
      ist das Unternehmen The Rocket Science Group, LLC, 675 Ponce de Leon Ave
      NE, Suite 5000, Atlanta, GA 30308 USA. Dank MailChimp können wir Ihnen
      interessante Neuigkeiten sehr einfach per Newsletter zukommen lassen.
    </p>

    <h3>Was ist MailChimp?</h3>
    <p>
      MailChimp ist ein cloudbasiertes Newsletter-Management-Service.
      „Cloudbasiert" heißt, dass wir MailChimp nicht auf unserem eigenen Rechner
      bzw. Server installieren müssen. Wir nutzen den Dienst stattdessen über
      eine IT-Infrastruktur – die über das Internet verfügbar ist – auf einem
      externen Server.
    </p>

    <h3>Welche Daten werden von MailChimp gespeichert?</h3>
    <p>
      Damit MailChimp auch nachweisen kann, dass Sie sich in den
      „Listenprovider" eingetragen haben, wird das Datum der Eintragung und Ihre
      IP-Adresse gespeichert. Weiters speichert MailChimp Ihre E-Mail-Adresse,
      Ihren Namen, die physische Adresse und demografische Informationen, wie
      Sprache oder Standort.
    </p>

    <h3>Wie lange und wo werden die Daten gespeichert?</h3>
    <p>
      Da MailChimp ein amerikanisches Unternehmen ist, werden alle gesammelten
      Daten auch auf amerikanischen Servern gespeichert. Grundsätzlich bleiben
      die Daten auf den Servern von Mailchimp dauerhaft gespeichert und werden
      erst gelöscht, wenn eine Aufforderung von Ihnen erfolgt.
    </p>

    <h3>Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
    <p>
      Sie können Ihre Zustimmung für den Erhalt unseres Newsletters jederzeit
      innerhalb der empfangenen E-Mail per Klick auf den Link im unteren Bereich
      entziehen. Wenn Sie sich mit einem Klick auf den Abmeldelink abgemeldet
      haben, werden Ihre Daten bei MailChimp gelöscht.
    </p>
    <p>
      MailChimp ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework
      wodurch der korrekte und sichere Datentransfer persönlicher Daten geregelt
      wird. Mehr Informationen dazu finden Sie auf
      <a
        href="https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG&tid=211115782"
        target="_blank"
        rel="noopener noreferrer">https://www.privacyshield.gov/</a
      >. Mehr über den Einsatz von Cookies bei MailChimp erfahren Sie auf
      <a
        href="https://mailchimp.com/legal/cookies/"
        target="_blank"
        rel="noopener noreferrer">https://mailchimp.com/legal/cookies/</a
      >, Informationen zum Datenschutz bei MailChimp (Privacy) können Sie auf
      <a
        href="https://mailchimp.com/legal/privacy/"
        target="_blank"
        rel="noopener noreferrer">https://mailchimp.com/legal/privacy/</a
      > nachlesen.
    </p>

    <h2>MailChimp Auftragsdatenverarbeitung Vertrag</h2>
    <p>
      Wir haben mit MailChimp einen Vertrag über die Auftragsdatenverarbeitung
      (Data Processing Addendum) abgeschlossen. Dieser Vertrag dient zur
      Absicherung Ihrer persönlichen Daten und stellt sicher, dass sich
      MailChimp an die geltenden Datenschutzbestimmungen hält und Ihre
      persönlichen Daten nicht an Dritte weitergibt.
    </p>
    <p>
      Mehr Informationen zu diesem Vertrag finden Sie auf
      <a
        href="http://mailchimp.com/legal/forms/data-processing-agreement/"
        target="_blank"
        rel="noopener noreferrer"
        >http://mailchimp.com/legal/forms/data-processing-agreement/</a
      >.
    </p>

    <h2>Eingebettete Social Media Elemente Datenschutzerklärung</h2>
    <p>
      Wir binden auf unserer Webseite Elemente von Social Media Diensten ein um
      Bilder, Videos und Texte anzuzeigen. Durch den Besuch von Seiten die diese
      Elemente darstellen, werden Daten von Ihrem Browser zum jeweiligen Social
      Media Dienst übertragen und dort gespeichert. Wir haben keinen Zugriff auf
      diese Daten. Die folgenden Links führen Sie zu den Seiten der jeweiligen
      Social Media Dienste wo erklärt wird, wie diese mit Ihren Daten umgehen:
    </p>
    <ul>
      <li>
        Instagram-Datenschutzrichtlinie:
        <a
          href="https://help.instagram.com/519522125107875?tid=211115782"
          target="_blank"
          rel="noopener noreferrer"
          >https://help.instagram.com/519522125107875</a
        >
      </li>
      <li>
        Für YouTube gilt die Google Datenschutzerklärung:
        <a
          href="https://policies.google.com/privacy?hl=de&tid=211115782"
          target="_blank"
          rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a
        >
      </li>
      <li>
        Facebook-Datenrichtline:
        <a
          href="https://www.facebook.com/about/privacy?tid=211115782"
          target="_blank"
          rel="noopener noreferrer"
          >https://www.facebook.com/about/privacy</a
        >
      </li>
      <li>
        Twitter Datenschutzrichtlinie:
        <a
          href="https://twitter.com/de/privacy?tid=211115782"
          target="_blank"
          rel="noopener noreferrer">https://twitter.com/de/privacy</a
        >
      </li>
    </ul>

    <h2>YouTube Datenschutzerklärung</h2>
    <p>
      Wir haben auf unserer Webseite YouTube-Videos eingebaut. So können wir
      Ihnen interessante Videos direkt auf unserer Seite präsentieren. YouTube
      ist ein Videoportal, das seit 2006 eine Tochterfirma von Google LLC ist.
      Betrieben wird das Videoportal durch YouTube, LLC, 901 Cherry Ave., San
      Bruno, CA 94066, USA. Wenn Sie auf unserer Webseite eine Seite aufrufen,
      die ein YouTube-Video eingebettet hat, verbindet sich Ihr Browser
      automatisch mit den Servern von YouTube bzw. Google. Dabei werden (je nach
      Einstellungen) verschiedene Daten übertragen. Für die gesamte
      Datenverarbeitung ist Google verantwortlich und es gilt somit auch der
      Datenschutz von Google.
    </p>

    <h3>Welche Daten werden von YouTube gespeichert?</h3>
    <p>
      Sobald Sie eine unserer Seiten besuchen, die ein YouTube-Video eingebaut
      hat, setzt YouTube zumindest ein Cookie, das Ihre IP-Adresse und unsere
      URL speichert. Wenn Sie in Ihrem YouTube-Konto eingeloggt sind, kann
      YouTube Ihre Interaktionen auf unserer Webseite meist mithilfe von Cookies
      Ihrem Profil zuordnen. Dazu zählen Daten wie Sitzungsdauer, Absprungrate,
      ungefährer Standort, technische Informationen wie Browsertyp,
      Bildschirmauflösung oder Ihr Internetanbieter.
    </p>

    <h3>Wie lange und wo werden die Daten gespeichert?</h3>
    <p>
      Die Daten, die YouTube von Ihnen erhält und verarbeitet werden auf den
      Google-Servern gespeichert. Die meisten dieser Server befinden sich in
      Amerika. Die erhobenen Daten speichert Google unterschiedlich lang. Manche
      Daten können Sie jederzeit löschen, andere werden automatisch nach einer
      begrenzten Zeit gelöscht und wieder andere werden von Google über längere
      Zeit gespeichert.
    </p>

    <h3>Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
    <p>
      Grundsätzlich können Sie Daten im Google Konto manuell löschen. Mit der
      2019 eingeführten automatische Löschfunktion von Standort- und
      Aktivitätsdaten werden Informationen abhängig von Ihrer Entscheidung –
      entweder 3 oder 18 Monate gespeichert und dann gelöscht.
    </p>
    <p>
      Da YouTube ein Tochterunternehmen von Google ist, gibt es eine gemeinsame
      Datenschutzerklärung. Wenn Sie mehr über den Umgang mit Ihren Daten
      erfahren wollen, empfehlen wir Ihnen die Datenschutzerklärung unter
      <a
        href="https://policies.google.com/privacy?hl=de"
        target="_blank"
        rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a
      >.
    </p>
    <p>
      Quelle: Erstellt mit dem Datenschutz Generator von firmenwebseiten.at in
      Kooperation mit wallentin.cc
    </p>

    <h2>Ihre Rechte</h2>
    <p>
      Ihnen stehen bezüglich Ihrer bei uns gespeicherten Daten grundsätzlich die
      Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung,
      Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben, dass
      die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
      datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind,
      können Sie sich bei uns unter
      <a href="mailto:kontakt@shafii-madhhab.de">kontakt@shafii-madhhab.de</a>
      oder der Datenschutzbehörde beschweren.
    </p>

    <h2>Sie erreichen uns unter folgenden Kontaktdaten:</h2>
    <p>
      Shafii-Madhhab<br />
      <a href="mailto:kontakt@shafii-madhhab.de">kontakt@shafii-madhhab.de</a>
    </p>
  </main>
  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto w-full max-w-3xl px-4 pb-12 pt-4;
  }
  #main-content h1 {
    @apply mb-6 text-2xl font-semibold sm:text-3xl;
  }
  #main-content h2 {
    @apply mb-3 mt-8 text-xl font-semibold;
  }
  #main-content h3 {
    @apply mb-2 mt-4 text-lg font-medium;
  }
  #main-content p {
    @apply mb-4 leading-relaxed;
  }
  #main-content ul {
    @apply mb-4 ml-6 list-disc space-y-1;
  }
  #main-content a {
    @apply text-skin-accent underline hover:no-underline;
  }
</style>
